/* :root {
    --color--primary: #3498db;
    --margin-left:20px;
}

h1 {
    color: var(--color--primary)
    margin-left: var(--margin-left)
} */

$hlavni-barva: #3498db;
$levi-odsazeni: 20px;
$rozmer-pismena:24px; 